{:paths ["src" "test" "resources"]
 :deps {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        circleci/bond {:mvn/version "0.6.0"}
        clj-commons/clj-yaml {:mvn/version "1.0.26"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        clojure.java-time/clojure.java-time {:mvn/version "1.3.0"}
        com.layerware/hugsql {:mvn/version "0.5.3"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
        com.stuartsierra/component {:mvn/version "1.1.0"}
        com.stuartsierra/component.repl {:mvn/version "0.2.0"}
        com.taoensso/timbre {:mvn/version "6.1.0"}
        hikari-cp/hikari-cp {:mvn/version "3.0.1" :exclusions [org.slf4j/slf4j-api]}
        metosin/reitit {:mvn/version "0.6.0"
                        :exclusions [com.fasterxml.jackson.core/jackson-core
                                     org.clojure/core.rrb-vector]}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/java.jdbc {:mvn/version "0.7.12"}
        org.mindrot/jbcrypt {:mvn/version "0.4"}
        org.postgresql/postgresql {:mvn/version "42.6.0"}
        org.slf4j/slf4j-api {:mvn/version "1.7.36"}
        org.xerial/sqlite-jdbc {:mvn/version "3.41.0.0"}
        ring/ring-core {:mvn/version "1.9.6"}
        ring/ring-defaults {:mvn/version "0.3.4"}
        ring/ring-jetty-adapter {:mvn/version "1.9.6"}
        ring/ring-json {:mvn/version "0.5.1"}}
 :aliases {:run {:exec-fn dvb.server.core/-main}
           :openapi {:exec-fn dvb.server.http.openapi.serialize/-main}
           :init {:exec-fn dvb.server.init/-main}
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0-612"}}}
           :build {:deps {io.github.clojure/tools.build
                          {:git/tag "v0.8.1" :git/sha "7d40500"}}
                   :ns-default build}}}
